body, html {
    height: 100%;
}

body.dash-xs-scroll-hidden {
    overflow-y: hidden;
}

.navbar {
    z-index: 1002;
}

.dash-sidebar-wrapper {
    padding-top: 3.5rem;
}

.dash-sidebar {
    position: fixed;
    width: 16rem;
    left: -16rem;
    transition: left 300ms ease;
    top: 3.5rem;
    bottom: 0;
    z-index: 1001;
    overflow: auto;
}

.dash-sidebar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
        position: relative;
        line-height: 3.5rem;
        display: block;
        width: 100%;
        padding-left: 3rem;
        height: 3.5rem;
        color: rgba(255, 255, 255, .5);
        text-decoration: none;
    }
    li {
        height: 3.5rem;
        border-bottom: 1px solid rgba(255,255,255,.035);
    }
    a:hover {
        color: rgba(255, 255, 255, .75);
        .dash-sidebar-selector {
            width: 2rem;
        }
    }
    a.active {
        color: rgba(255, 255, 255, 1);
        .dash-sidebar-selector {
            width: 100%;
        }
    }
}

.dash-sidebar-selector {
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: .5rem;
    transition: width 100ms ease;
}

.dash-sidebar-link-text {
    position: absolute;
    display: block;
}

/*.dash-sidebar-list .dash-sidebar-add-activity a {
    padding-left: 0;
}

.dash-sidebar-list .dash-sidebar-add-icon {
    position: relative;
    top: .2rem;
    padding: 0 .8rem;
    font-size: 1.5rem;
}

.dash-sidebar-list .dash-sidebar-add-activity .dash-sidebar-link-text {
    display: inline;
    position: relative;
}*/

.dash-content-wrapper {
    transition: left 300ms ease;
}

.dash-content-fade {
    position: fixed;
    display: block;
    z-index: -1000;
    background-color: #000;
    opacity: 0;
    transition: opacity 300ms ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dash-sidebar-wrapper.dash-xs-active {
    .dash-sidebar {
        left: 0;
    }
    .dash-content-fade {
        opacity: 0.6;
        z-index: 1000;
    }
}

.dash-sidebar-toggler {
    position: relative;
    top: -0.2rem;
}

.dash-content-description {
    color: rgba(255,255,255,.7);
}

.dash-vmiddle-fix {
    padding-top: 4.5rem;
}

.dash-vmiddle-fix > * {
    padding-bottom: 1rem;
}

.dash-chart-container {
    position: relative;
    width: 100%;
}

@media (min-width: 992px) {
    body.dash-xs-scroll-hidden {
        overflow-y: initial;
    }

    .dash-sidebar {
        position: fixed;
        display: block;
        height: 100%;
        width: 18rem;
        left: 0;
    }

    .dash-content-wrapper {
        position: absolute;
        left: 18rem;
        right: 0;
    }

    .dash-content-fade {
        display: none;
    }

    .dash-sidebar-wrapper.dash-lg-inactive {
        .dash-sidebar {
            left: -18rem;
        }
        .dash-content-wrapper {
            left: 0;
        }
    }
}
